.section-1__part-2-btn{
    background-color: $colour-title;
    color: $colour-white;
    width: 220px;
    height: 40px;
    border: none;
}
@include tablet{
    .section-1__part-2-btn{
        width: 200px;
        margin-left: 20px;
    }
}