.section-2__part-2__card{
    height: 350px;
    padding: $spacer-4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $color-darkblue;

    &__title{
        color: $colour-white;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
    }

    &__txt{
        color: #ffffff9f;;
    }
}

@include tablet{
    .section-2__part-2__card{
        height: 250px;
    }
}