.carousel{
    position: relative;
    &__prev{
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    &__next{
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 30px;
        left: 80px;
    }
}

@include mobile{
    .c-item{
        height: 300px;
        }
    .carousel-item img{
        object-fit: cover;
    }

}

@include tablet{
    .c-item{
        height: 300px;
        }
    .carousel-item img{
        object-fit: cover;
    }

}

