.section-1__part-2{
    position: relative;
    padding: 10px;
    &-txt{
        position: absolute;
        bottom: 30px;
        left: 100px;
    }
}

@include tablet{
    .section-1__part-2-txt{
        left:-50px;
        font-size: small;
        h6{
            font-size: 14px;
            padding-left: 14%;
        }
    }
}